body, html {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
    display: grid;
    align-items: center;
    justify-items: center;

    .msg {
        margin-top: 100px;
        font-size: 3vmin;
        visibility: hidden;
    }

    .packaging {
        margin-top: -110vh;
    }
    
    #Calc {
        visibility: hidden;
    }
    
    #avCubicWeight {
        visibility: hidden;
    }
    
    .item {
        visibility: hidden;
    }

    @media screen and (max-width: 600px){
        .packaging {
            margin-top: -230vmin;
        }
    }

    @media screen and (max-width: 350px){
        .packaging {
            margin-top: -290vmin;
        }
    }
}